#user {
    display: flex;
    flex-direction: row;
    width: 80vw;
    margin-left: 10vw;
    margin-right: 10vw;
    font-size: 18px;
}

#data {
    font-size: 24px;
    width: 20vw;
    height: 100%;
}

#createOrder {
     display: flex;
     flex-direction: row;
     justify-content: space-around;
}

.orderHeader,
.removeOrder,
.order,
#orders,
#ordersList,
.orderActivities,
#data {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.orderHeader > * {
    margin: 3px;
}

#orders {
    width: 60vw;
    border-left: 1px black solid;
}

#createOrder {
    width: 40vw;
    margin-top: 1vh;
    margin-bottom: 2vh;
    min-height: 5vh;
}

#createOrder > input {
    border-radius: 5px 0px 0px 5px;
    border: 1px black solid;
    width: 60%;
}

#createOrder > button {
    border-radius: 0px 5px 5px 0px;
    width: 40%;
}

.order {
    margin-top: 2vh;
}

.removeOrder:hover {
    background-color: red;
}

.orderActivities {
    width: 40vw;
}

.activityForm {
    width: 20vw;
}

.activity:not(:last-child) {
    border-bottom: 1px black solid;
}

.activity {
    padding-bottom: 5px;
    padding-top: 5px;
}

#addButton {
    width: 100%;
    font-size: 111%;
}

#addButton:hover {
    background-color: green;
}