<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>
    <link rel="stylesheet" type="text/css" th:href='@{css/main.css}'>
</head>
<body>
<nav>
    <a href="/">Главная</a>
    <a href="/stock">Магазины</a>
    <a href="/item">Товары</a>

    <div th:if="${user != null}">
        <a href="/user/">Заказы</a>
        <a href="/logout">Выйти</a>
    </div>

    <div th:if="${user == null}">
        <a href="/login">Войти</a>
        <a href="/registration">Регистрация</a>
    </div>
</nav>
<div class="container">
<p>
    Данный сайт предоставляет возможность для управления комплексом магазинов.
</p>
<p>
    Есть возможность для управления магазинами, если зайти на сайт под администраторским аккаунтом.
</p>
<p>
    Администратор может:
    <ul>
        <li>Добавлять новые магазины</li>
        <li>Удалять существующие</li>
        <li>Добавлять новые товары</li>
        <li>Добавлять товары в магазины и редактировать их количество</li>
        <li>Принимать заказы от пользователей</li>
    </ul>
</p>
<p>
    Зарегестрированный пользователь может:
<ul>
    <li>Создавать новые заказы</li>
    <li>Удалять свои заказы</li>
    <li>Переименовывать свои заказы</li>
    <li>Добавлять товары из магазинов в свой заказ</li>
    <li>Отправлять готовый заказ администратору</li>
    <li>Возвращать непроверенный заказ обратно, для дальнейшего редактирования</li>
</ul>
</p>

<p>
    Любой посетитель может:
<ul>
    <li>Зарегистрировать новый аккаунт</li>
    <li>Просматривать списки магазинов</li>
    <li>Просматривать содержимое магазинов</li>
    <li>Просматривать список всех товаров</li>
    <li>Просматривать подробную информацию о товарах</li>
    <li>Заходить в аккаунт с помощью логина и пароля</li>
</ul>
</p>

<p>
    Количество товаров в заказе связано с количеством в магазине.
</p>
</div>
</body>
</html>